In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/netflix_titles.csv")

In [3]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [58]:
import sqlalchemy as sal
from sqlalchemy.sql import text
DB_NAME = input("Enter db name : ")
engine = sal.create_engine(f'mssql+pyodbc://DESKTOP-UFR6MA7\\SQLEXPRESS/master?driver=ODBC+Driver+17+for+SQL+Server')

try:
    # Connect to the database and enable autocommit
    with engine.connect() as conn:
        conn.execution_options(isolation_level="AUTOCOMMIT")
        conn.execute(text(f'CREATE DATABASE {DB_NAME}'))
        print(f"Database {DB_NAME} created successfully!")
except Exception as e:
    print(f"Failed to create database: {e}")

Database shivam created successfully!

In [59]:
# Step 2: Connect to the new database and write DataFrame to table
#engine = sal.create_engine(f'mssql+pyodbc://DESKTOP-UFR6MA7\\SQLEXPRESS/{DB_NAME}?Trusted_Connection=Yes&driver=ODBC+Driver+17+for+SQL+Server')
try:
    # Write DataFrame to the 'netflix_raw' table
    df.to_sql('netflix_raw', con=engine, index=False, if_exists='replace')
    print(f"DataFrame written to table 'netflix_raw' in database {DB_NAME} successfully!")
except Exception as e:
    print(f"Failed to write DataFrame to table: {e}")

DataFrame written to table 'netflix_raw' in database shivam successfully!

In [30]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [32]:
# give you max len of any column here we are cheking for the id 
df.show_id.str.len().max()

np.int64(5)

In [36]:
# give you max len of any column here we are cheking for the title 
df.title.str.len().max()

np.int64(104)

In [37]:
df.type.str.len().max()

np.int64(7)

In [38]:
df.director.str.len().max()

np.float64(208.0)

In [39]:
df.cast.str.len().max()

np.float64(771.0)

In [40]:
df.country.str.len().max()

np.float64(123.0)

In [41]:
df.date_added.str.len().max()

np.float64(19.0)

In [43]:
df['release_year'].str.len().max()

AttributeError: Can only use .str accessor with string values!

In [44]:
df.rating.str.len().max()

np.float64(8.0)

In [45]:
df.duration.str.len().max()

np.float64(10.0)

In [47]:
df.listed_in.str.len().max()

np.int64(79)

In [48]:
df.description.str.len().max()

np.int64(248)

In [55]:
# Step 2: Connect to the new database and write DataFrame to table
engine = sal.create_engine(f'mssql+pyodbc://DESKTOP-UFR6MA7\\SQLEXPRESS/netflix?Trusted_Connection=Yes&driver=ODBC+Driver+17+for+SQL+Server')
try:
    # Write DataFrame to the 'netflix_raw' table
    df.to_sql('netflix_table', con=engine, index=False, if_exists='append')
    print(f"DataFrame written to table 'netflix_table' in database {DB_NAME} successfully!")
except Exception as e:
    print(f"Failed to write DataFrame to table: {e}")

DataFrame written to table 'netflix_table' in database nikhil successfully!

In [57]:
#check the missing values

df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64